:root {
    --home-page-rotate-region-width: 70vw;
    --home-page-rotate-region-height: 70vw;
}

.home-page-body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 90, 128);
    width: 100vw;
    height: 100vh;
}

.home-page-main {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.home-page-avatar-position {
    width: 100px;
    height: 100px;
}

.home-page-rotate-region {
    position: relative;
    width: var(--home-page-rotate-region-width);
    height: var(--home-page-rotate-region-height);
    max-width: 350px;
    max-height: 350px;
    top: calc(50% - calc(var(--home-page-rotate-region-width) / 2));
    right: calc(-50% + calc(var(--home-page-rotate-region-height) / 2));
    animation: 10s rotate-all-image infinite linear;
}

@media screen and (min-width: 500px) {
    .home-page-rotate-region {
        top: calc(50% - 175px);
        right: calc(-50% + 175px);
    }
}

@keyframes rotate-all-image {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(360deg)
    }
  }

.home-page-avatar {
    background-image: url("../../assets/images/avatar/avatar.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    position: absolute;
    top: calc(50% - 50px);
    right: calc(50% - 50px);
    border-radius: 50%;
    animation: 10s rotate-image infinite linear;
    cursor: pointer;
}

.home-page-project-avatar {
    position:absolute;
    width: 20vw;
    height: 20vw;
    max-height: 100px;
    max-width: 100px;
    /* border-radius: 50%; */
    display: flex;
    align-items:center;
    justify-content: center;
    animation: 10s rotate-image infinite linear;
    cursor: pointer;
}
.home-page-next-drink {
    top: 0px;
    right: 0px;
}
.home-page-pomodoros {
    bottom: 0px;
    left: 0px;
}

.home-page-project-avatar-image {
    width: 100%;
    border-radius: 50%;
    transition-duration: .5s;
}

.home-page-next-drink-image {
    background-color: var(--web-background-color);
}

.home-page-pomodoros-image {
    background-color: white;
}

.home-page-project-avatar-image:hover {
    transform: scale(1.5);
}

@keyframes rotate-image {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(-180deg)
    }
    100% {
        transform: rotate(-360deg)
    }
  }

.home-page-stop-rotate {
    animation-play-state: paused;
}